.container-m {
    margin-top: 4rem;
}

.card-resto {
    background-image: url('../assets/restaurant/mcdo-resto.jpg');
    background-size: cover;
    border-radius: 10px;
    height: 30vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.card-resto__desc {
    background-color: white;
    border-radius: 8px;
    bottom: -20%;
    padding: 10px 15px;
    position: absolute;
    width: 80vw;
}

.row-menu {
    margin-top: 5rem !important;
}